.box {
    height: 100px;
    width: 200px;
}
.color1 {
    background-color: #69b29a;
}
.color2 {
    background-color: #a88539;
}
.color3 {
    background-color: #3c83b6;
}
.color4 {
    background-color: #d2512a;
}