.box {
    height: 100px;
    width: 200px;
    float: left;
}
.color1 {
    background-color: rgb(105, 178, 154);
}
.color2 {
    background-color: #a88539;
}
.color3 {
    background-color: #3c83b6;
}
.color4 {
    background-color: #d2512a;
}